# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Dataset
dataset/

# Models
models/*.pkl
models/*.joblib

# Database
*.db

# Logs
*.log

#dataset raw
data/

# macOS
.DS_Store